fase3/lenguaje de marcas/dtd/clasificacion.dtd

<!ELEMENT clasificacion (equipo+)>
<!ELEMENT equipo (ID_EQUIPO, NOMBRE_EQUIPO, PUNTOS, PARTIDOS_JUGADOS, PARTIDOS_GANADOS, PARTIDOS_PERDIDOS)>
<!ELEMENT ID_EQUIPO (#PCDATA)>
<!ELEMENT NOMBRE_EQUIPO (#PCDATA)>
<!ELEMENT PUNTOS (#PCDATA)>
<!ELEMENT PARTIDOS_JUGADOS (#PCDATA)>
<!ELEMENT PARTIDOS_GANADOS (#PCDATA)>
<!ELEMENT PARTIDOS_PERDIDOS (#PCDATA)>